
.navigation {
	background-color: white !important;
	height: 100px;
	position: fixed;
	z-index: 100;
	width: 100%;
}

.menu {
	background-color: white;
}
.carousel {
	margin-top: 50px;
}
.menu .menu-link a {
	margin-top: 25px;
	color: #337ab7db !important;
}

.menu-link a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
.menu-link a:hover {
	color: darkblue !important;
}

.dropdown-link a {
	margin-top: 5px !important;
}

.menu li a:focus {
	background-color: white !important;
}

.item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 60vh;
}
.name-in-cart {
	margin-right: 20px;
}

button:focus {
	color: white !important;
}

/*carousel pocnuva*/
#carousel-first {
	background-image: url(image1.jpg);
	
}
#carousel-second {
	background-image: url(image2.jpg);
	
}
#carousel-third {
	background-image: url(image5.jpg);
	
}
.karusel-text {
	position: relative;
	top: 0%;
	left: 0%;
	text-align: left;
}
.karusel-text h1 {
	font-size: 40px;
}
.karusel-text button {
	text-decoration: none;
}

.karusel-text button:hover, .about-us button:hover, .eden-saat button:hover  {
	color: #e5ebff;
}

.bg-brown {
	background-color: #44312a;
}

.bg-blue {
	background-color: #2d466e;
}

.bg-grey {
	background-color: #f2f4f8;
}

.carousel-indicators li {
       display: inline-block;
       width:28px;
       height: 4px;
       cursor: pointer;
       border: none;
       border-radius: 0%;
       background-color: grey;
       list-style-type: square;
       border-bottom: 5px solid grey;
}

.carousel-indicators .active {
       width: 28px;
       height: 6px;
       background-color: white;
       border-bottom: none;
}


/*about us pocnuva*/

.blue {
	color: #2d466e;
}

.grey {
	color: grey;
}
.py-5 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.white {
	color: white;
}

.bg-saat {
	background-image: url(saat.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	height: 300px;
	vertical-align: top;
}

/*products pocnuva*/

.lista-opcii li a {
	font-size: 17px;
	text-transform: uppercase;
	padding: 5px;
	text-decoration: none;
	margin: 20px;
	color: grey;
}

.lista-opcii li a:hover {
	color: #2d466e;
	border-bottom: 1px solid #2d466e;;
}

.bold {
	font-weight: bold;
}
.eden-saat {
	padding-bottom: 20px;
	padding-top: 20px;
}
.eden-saat img {
	width: 100%;
}
.eden-saat:hover {
	background-color: #f2f4f8;
	cursor: pointer;
}

/*visit unierse*/

.visit-universe img {
	width: 100%;
}
.slika-gore {
	margin-top: -250px;
	margin-left: -150px;
	z-index: 9;
}

.text-gore {
padding: 40px;
margin-left: -70px;
margin-top: 70px;
z-index: 10;
	
}
.slika-dole {
	margin-top: -60px;
	z-index: 8;
}
.visit-universe a {
	text-decoration: underline;
	color: grey;
}
.naslov  {
	font-family: "Freight Big Bold";
	font-weight: bold;
	font-size: 4rem;
}

/*man-woman*/

.man-woman a {
	text-decoration: none;
}

.outer-div {
     height: 85vh;
     overflow: hidden;
     margin: 0 40px; 
     position: relative;
}
.inner-div {
     height: 100%;
     width: 100%;
     background-size: cover;
     background-position: center;
     transition: all 0.8s ease;
     display: flex;
     justify-content: center;
     align-items: center;
}
.inner-div:hover{
     transform: scale(1.1);
     cursor: pointer;
}

.inner-div:hover .inner-text{
     display: block;
 }

#inner-1 {
	background-image: url('woman.jpg');
}

#inner-2 {
	background-image: url('man.jpg');
}

.inner-text {
	display: none;

}

.inner-text h2 {
	padding: 60px 250px;
}

/*sekcija pred footer*/
.sekcija-pred-footer {
	margin-top: 10vh;
}

.french {
	font-family: "Freight Big Bold";

}
.hideme {
	opacity: 0;
}

/*footer pocnuva*/
.py-2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.text-middle {
	padding: 0 20px;
}
.footer-lista li {
	padding: 10px 0;
	font-size: 1.2rem;
	cursor: pointer;
}

.newsletter input {
	margin-top: 50px;
	border: none;
	border-bottom: 1px solid white;
	width: 100%;
}
.newsletter button {
	margin-top: 40px;
	border: none;
	border-bottom: 1px solid white;
	width: 100%;
}

.newsletter button:hover {
	background-color: #2d466e;
	color: white;
}
.newsletter button:focus {
	background-color: #2d466e;
	color: white;
}

.social {
	margin-top: 75px;

}

.social li {
	padding: 10px;
	cursor: pointer;
}
.cart-li {
	padding: 0px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;

}
#remove-from-cart {
	outline: none !important;
	border: none;

}


/*colection men pocnuva*/

.colection-men-naslov {
	margin-top: 80px;
}

.men-buttons a {
	text-decoration: none;
	color: #2d466e;
	padding: 30px;
	width: 100%;
	cursor: pointer;
}

.men-buttons a:hover {
	background-color: #2d466e;
	color: white;
}
.saati-slika {
	background-size: cover;
	background-position: center;
	height: 471px;
	display: flex;
	justify-content: center;
	align-items: center;

}
#saati-slika1 {
	background-image: url(grando.jpg);
}

#saati-slika2 {
	background-image: url(paris5.jpg);
}

#saati-slika3 {
	background-image: url(paris7.jpg);
}

#saati-slika4 {
	background-image: url(paris8.jpg);
}

.saati-slika-inner {
	padding: 30px;
	background-color: #AAB9D0;
}


/*colection women pocnuva*/


#saati-slika5 {
	background-image: url(paris2.jpg);
}

#saati-slika6 {
	background-image: url(paris.jpg);
}

#saati-slika7 {
	background-image: url(paris3.jpg);
}

/*uneverse strana pocnuva*/

.prv-red {
	margin-top: 100px;
}
.prv-red img {
	width: 100%;
	height: 60vh;
}

.universe-saat img, .zena2 img {
	width: 100%;
}

.universe-saat  {
	background-color: #f2f4f8;
	padding: 10px;
}
.universe-saat a{
	border-bottom: 1px solid grey;
	color: grey;
	padding-bottom: 3px;
}

.universe-saat a:hover{
	border-bottom: none;
	color: grey;
	text-decoration: none;
	
}
.paris-universe {
	margin-left: -15px;
}

.text-universe {
	padding: 40px;
	margin-top: 10vh;
	margin-left: -5vw;
}

.tocak {
	margin-top: -15vh;
	margin-left: 65px;
}

.paralax {
	background-size: cover;
	background-position: center;
	height: 70vh;
	width: 100%;
	background-attachment: fixed;
}

.zena {
	background-image: url(image5.jpg);
}

.zena3 {
	margin-top: 40vh;
}
.zena4 {
	margin-left: 135px;
}

.zena5 img {
width: 100%;

}

.crtez-saat {
	background-image: url(crtez.jpg);
	
}

.covek-tocak {
	background-image: url(image4.jpg);
}


@media screen and (max-width: 768px){
	.slika-gore {
	margin-top: 0px;
	margin-left:0px;
}
.text-gore {
margin-left:0px;
margin-top: 0px;
height: 290px;
}
.slika-dole {
	margin-top:0px;
}
.footer-listi, .newsletter {
	text-align: center;
}

.men-button {
	margin-top: 30px;
}

.paris-universe {
	margin-left:-15px;
	margin-right: 15px;
}

.text-universe {
	padding: 40px;
	margin-top: 0px;
	margin-left: 0px;
}

.universe-saat {
	margin: 20px 0;
}

.tocak {
	margin-top:  0px;
	margin-left:  0px;
}
.zena3 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.zena4 {
	margin-left: 0px;
	margin-top: 20px;
	margin-bottom: 20px;

}

.tocak img, .paris-universe img, .zena4 img, .zena3 img {
	width: 100%;
}

.text-universe, .zena3 {
	height: 60vh;
}
.zena4 img, .paris-universe img, .zena3 img {
	height: 60vh;
}
 
}

@media screen and (max-width: 425px){
	.padding-men {
		margin-top: 10px;
	}
	.lista-linkovi li {
		display: block;
		margin: 10px;
	}

	.paris-universe {
	margin-left:0px;
	margin-right: 0px;
}

.text-universe {
	height: 30vh
}
 
}

@media screen and (max-width: 320px){
	.lista-linkovi li {
		display: block;
		margin: 10px;
	}

	.golem-text {
		font-size: 30px;
	}

	.zena4 img, .paris-universe img, .zena3 img {
	height: 40vh;
    }
    .name-in-cart {
	margin-right: 10px;
	font-size: 10px;
    }
 
}






